
<div class="form-group row">
    <label for="Folio" class="col-sm-2 col-form-label">Producto</label>
    <div class="col-sm-3">
        <div class="input-group ">
            <input type="text" class="form-control">
            <span class="input-group-append"><button type="button" class="btn btn-info btn-flat"><i class="fa fa-search"></i></button></span>
        </div>
    </div>
    <label for="Folio" class="col-sm-2 col-form-label">Cantidad</label>
    <div class="col-sm-3"><div class="input-group "><input type="text" class="form-control"></div></div>
</div>
<div class="row ">
    <div class="col-md-6 mb-3">
        <a class="btn btn-app bg-info">
            <span class="badge bg-danger">Agregar</span>
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <div class="col-md-6 mb-3">

    </div>
    <div class="col-md-12 mb-3">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table id="table-1" class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Producto</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Presio</th>
                        <th>%Desc</th>
                        <th>%Importe</th>
                        <th>A</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Trident</td>
                        <td>
                            Internet
                            Explorer 4.0
                        </td>
                        <td>Win 95+</td>
                        <td>Win 95+</td>
                        <td>Win 95+</td>
                        <td>Win 95+</td>
                        <td>Win 95+</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {

}
