
<div class="form-group row">
    <!--!--><label for="Monto" class="col-sm-1 col-form-label">Monto</label>
    <!--!--><div class="col-sm-2"><div class="input-group "><input type="text" class="form-control"></div></div>
    <!--!--><label for="Folio" class="col-sm-2 col-form-label">Tipo de Pago</label>
    <div class="col-sm-3">
        <div class="input-group ">
            <select class="form-control">
                <option>option 1</option><!--!-->
                <option>option 2</option><!--!-->
                <option>option 3</option><!--!-->
                <option>option 4</option><!--!-->
                <option>option 5</option>
            </select>
        </div>
    </div><!--!-->
    <!--!--><div class="col-sm-3"><div class="input-group "><a href="#" class="btn btn-primary"><i class="fa fa-plus-square"></i>Agregar</a></div></div>
</div><!--!-->
<!--!--><div class="row ">
    <div class="col-md-6 mb-3"></div>
    <div class="col-md-6 mb-3">

    </div>
    <div class="col-md-12 mb-3">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table id="table-1" class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Tipo de Pago</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Trident</td>
                        <td> Internet Explorer 4.0</td>
                        <td>Win 95+</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm" data-container="body" title="Imprimir"><i class="fas fa-print"></i></button>
                                <button type="button" class="btn btn-default btn-sm" data-container="body" title="Devoluciones"><i class="fas fa-arrow-alt-circle-left"></i></button>
                                <button type="button" class="btn btn-default btn-sm" data-container="body" title="Eliminar"><i class="fas fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {

}
