

<div class="col-sm-6">
    <!-- checkbox -->
    <div class="form-group clearfix">
        <div class="icheck-primary d-inline">
            <input type="checkbox" id="checkboxPrimary1" disabled="">
            <label for="checkboxPrimary1">
                Requiere Aval
            </label>
        </div>
    </div>
    <div class="form-group clearfix">
        <div class="icheck-primary d-inline">
            <input type="checkbox" id="checkboxPrimary2" disabled="">
            <label for="checkboxPrimary1">
                Requiere Enganche
            </label>
        </div>
    </div>
    <div class="form-group clearfix">
        <div class="icheck-primary d-inline">
            <input type="checkbox" id="checkboxPrimary3" disabled="">
            <label for="checkboxPrimary1">
                Modificar limite de credito
            </label>
        </div>
    </div>
    <div class="form-group clearfix">
        <div class="icheck-primary d-inline">
            <input type="checkbox" id="checkboxPrimary4" disabled="">
            <label for="checkboxPrimary1">
                Cambiar Producto
            </label>
        </div>
    </div>
</div>
<div class="col-sm-8">
    <!-- textarea -->
    <div class="form-group">
        <label>Observaciones</label>
        <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
    </div>
</div>
<div class="d-flex justify-content-lg-start bd-highlight mb-3">

    <div class="p-2 bd-highlight">
        <a class="btn btn-app bt-floar-loung">
            <i class="fas  fa-check-circle"></i>Regresar solicitud
        </a>
    </div>
    <div class="p-2 bd-highlight">
        <a class="btn btn-app bt-floar-loung">
            <i class="fas  fa-file-contract"></i>Credito Autorizado
        </a>
    </div>
    <div class="p-2 bd-highlight">
        <a class="btn btn-app bt-floar-loung">
            <i class="fas fa-file-contract"></i>Cancelar Solicitud
        </a>
    </div>
</div>

@code {

}
