@page "/interface4"
<h3>interface3</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Interfaz 3</h3>
                </div>
                <div class="card-body">
                    <form class="needs-validation" novalidate="">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <label for="folio">Cliente</label>
                                        <input type="text" class="form-control" id="folio" placeholder="" value="" required="">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="almacenorg">Empresa</label>
                                        <input type="text" class="form-control" id="almacenorg" placeholder="" value="" required="">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="almacenorg">RFC</label>
                                        <input type="text" class="form-control" id="almacenorg" placeholder="" value="" required="">
                                    </div>
                                    <div class="col-md-1 mb-3">
                                        <label for="almacenorg">C.P</label>
                                        <input type="text" class="form-control" id="almacenorg" placeholder="" value="" required="">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="almacenorg">Folio de factura</label>
                                        <input type="text" class="form-control" id="almacenorg" placeholder="" value="" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <label for="folio">Calle</label>
                                        <input type="text" class="form-control" id="folio" placeholder="" value="" required="">
                                    </div>
                                    <div class="col-md-1 mb-3">
                                        <label for="almacenorg">No</label>
                                        <input type="text" class="form-control" id="almacenorg" placeholder="" value="" required="">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="almacenorg">Colonía</label>
                                        <input type="text" class="form-control" id="almacenorg" placeholder="" value="" required="">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="almacenorg">Ciudad</label>
                                        <input type="text" class="form-control" id="almacenorg" placeholder="" value="" required="">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="almacenorg">Serie</label>
                                        <input type="text" class="form-control" id="almacenorg" placeholder="" value="" required="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="folio">Municipio</label>
                                <input type="text" class="form-control" id="folio" placeholder="" value="" required="">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="almacenorg">Estado</label>
                                <input type="text" class="form-control" id="almacenorg" placeholder="" value="" required="">
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="almacenorg">País</label>
                                <input type="text" class="form-control" id="almacenorg" placeholder="" value="" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="almacedes">Email</label>
                                <input type="text" class="form-control" id="almacedes" placeholder="" value="" required="">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="almacedes">Condiciones</label>
                                <select class="form-control">
                                    <option>option 1</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                    <option>option 5</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                    <table id="table-1" class="table table-bordered table-hover">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Producto</th>
                                                <th>Descripción</th>
                                                <th>Cantidad</th>
                                                <th>Unidad</th>
                                                <th>Precio</th>
                                                <th>PrecioU</th>
                                                <th>Desc%</th>
                                                <th>iva%</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Trident</td>
                                                <td>InternetExplorer 4.0</td>
                                                <td>Win 95+</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>InternetExplorer 4.0</td>
                                                <td>Win 95+</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>InternetExplorer 4.0</td>
                                                <td>Win 95+</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>InternetExplorer 4.0</td>
                                                <td>Win 95+</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>InternetExplorer 4.0</td>
                                                <td>Win 95+</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>InternetExplorer 4.0</td>
                                                <td>Win 95+</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>InternetExplorer 4.0</td>
                                                <td>Win 95+</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>InternetExplorer 4.0</td>
                                                <td>Win 95+</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>InternetExplorer 4.0</td>
                                                <td>Win 95+</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>InternetExplorer 4.0</td>
                                                <td>Win 95+</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>InternetExplorer 4.0</td>
                                                <td>Win 95+</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>InternetExplorer 4.0</td>
                                                <td>Win 95+</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>InternetExplorer 4.0</td>
                                                <td>Win 95+</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                                <td>15</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Descripción</th>
                                                <th>Cantidad</th>
                                                <th>Unidad</th>
                                                <th>Precio</th>
                                                <th>PrecioU</th>
                                                <th>Desc%</th>
                                                <th>iva%</th>
                                                <th>Total</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        <br />
                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-8">
                                <div class="form-group">
                                    <label>Observaciones :</label>
                                    <textarea class="form-control" rows="3" placeholder=""></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <table id="table-1" class="table table-bordered table-hover">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Factura</th>
                                                    <th>Serie</th>
                                                    <th>UUID</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>XXXX0001</td>
                                                    <td>XXXX0001</td>
                                                    <td>XXXX0001</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn  btn-primary btn-block mb-3">Agregar Factura <i class="fa fa-plus-circle"></i></button>
                                        <div class="input-group input-group-sm mb-3">
                                            <input type="text" class="form-control" placeholder="Tipo de relación">
                                            <span class="input-group-append">
                                                <button type="button" class="btn btn-info btn-flat"><i class="fa fa-edit"></i></button>
                                            </span>
                                        </div>
                                        <div class="input-group input-group-sm mb-3">
                                            <input type="text" class="form-control" placeholder="Uso de CFDI">
                                            <span class="input-group-append">
                                                <button type="button" class="btn btn-info btn-flat"><i class="fa fa-edit"></i></button>
                                            </span>
                                        </div>
                                        <div class="input-group input-group-sm mb-3">
                                            <input type="text" class="form-control" placeholder="Metodo de pago">
                                            <span class="input-group-append">
                                                <button type="button" class="btn btn-info btn-flat"><i class="fa fa-edit"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th style="width:50%">Subtotal:</th>
                                                <td><input type="text" class="form-control form-control-sm"></td>
                                            </tr>
                                            <tr>
                                                <th>Desc Global</th>
                                                <td><input type="text" class="form-control form-control-sm"></td>
                                            </tr>
                                            <tr>
                                                <th>Sub C/D:</th>
                                                <td><input type="text" class="form-control form-control-sm"></td>
                                            </tr>
                                            <tr>
                                                <th>IEPS:</th>
                                                <td><input type="text" class="form-control form-control-sm"></td>
                                            </tr>
                                            <tr>
                                                <th>IVA:</th>
                                                <td><input type="text" class="form-control form-control-sm"></td>
                                            </tr>
                                            <tr>
                                                <th>IVA Retenido:</th>
                                                <td><input type="text" class="form-control form-control-sm"></td>
                                            </tr>
                                            <tr>
                                                <th>TOTAL:</th>
                                                <td><input type="text" class="form-control form-control-sm"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <br>
                        <a class="btn btn-app bg-info" id="floatSave">
                            <i class="fas fa-save"></i>Guardar
                        </a>
                        <a class="btn btn-app bg-danger" id="floatClose">
                            <i class="fas fa-window-close"></i> Cancelar
                        </a>
                        <a class="btn btn-app bg-warning" id="floatWarning">
                            <i class="fas fa-print"></i>Imprimir
                        </a>
                        <a class="btn btn-app bt-floar-loung" id="floatSalir">
                            <i class="fas fa-sign-out-alt"></i>Salir
                        </a>
                    </form>
                </div>
               
            </div>
      
        </div>
    </div>
</div>